[submodule "source/roku-lib"]
	path = source/roku-lib
	url = https://github.com/gabek/roku-lib.git
[submodule "source/Amplitude-Brightscript"]
	path = source/Amplitude-Brightscript
	url = https://github.com/gabek/Amplitude-Brightscript.git
