[submodule "source/SegmentIO-Brightscript"]
	path = source/SegmentIO-Brightscript
	url = https://github.com/gabek/SegmentIO-Brightscript
[submodule "source/roku-lib"]
	path = source/roku-lib
	url = https://github.com/gabek/roku-lib.git
